body {
        margin: 0;
        width: 100vw;
        height: 100vh;
}
.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
h1{
    font-family: "Bangers", system-ui;
    font-weight: 200;
}
header {
    background-color: dodgerblue;
    color: white;
    padding: 10px 0;
    text-align: center;
}
#logo{
    left: 0px;
    top:0px;
    position:absolute;
    width:160px;
    height:100px;
}
.exampleimg{
    top:80px;
    margin: 0 auto;
    position:absolute;
    width:1000px;
    height:800px;
    left:500px;
    top:117px;
}
#main{
    height:500px;
    width:900px;
    left:200px;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: "Bangers", system-ui;
    font-weight: 300;
}
.about{
    top: 50px;
    left:1500px;
    position: absolute;
    font-family: "Bangers", system-ui;
}
#aboutme{
    font-size: 20;
    color: white;
}
.equipment{
    top: 50px;
    left:1300px;
    position: absolute;
    font-family: "Bangers", system-ui;
}
#equip{
    color: white;
}
nav ul li{
    list-style-type: none;
    padding: 0%;
}
.email{
    position:absolute;
    top:200px;
    left:50px;
    font-family: "Bangers", system-ui;
}
.emailbg{
    background-color: dodgerblue;
    border-radius: 10%;
    width: 350px;
    height:400px;
    top:200px;
    left:25px;
    position: absolute;
    z-index: -1;
}
#msg{
    height: 80px;
    width:200px;
    border-width: 0px;
    border-radius: 10%;
    font-family:Arial, Helvetica, sans-serif
}
.textunderimg{
    top:600px;
    left:830px;
    position: absolute;
    font-family: "Bangers", system-ui;
    font-size: 30px;
}