body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.bangers-regular {
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Bangers", system-ui;
    font-weight: 200;
}

header {
    background-color: dodgerblue;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#logo {
    left: 0;
    top: 0;
    position: absolute;
    width: 10vw;
    height: 10vh;
}


#main {
    height: 50vh;
    width: 50vw;
    left: 32vw;
    top:1vh;
    position: relative;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: "Bangers", system-ui;
    font-weight: 300;
}

.about {
    top: 5vh;
    left: 75vw;
    position: absolute;
    font-family: "Bangers", system-ui;
}

#aboutme {
    font-size: 2vh;
    color: white;
}

.equipment {
    top: 5vh;
    left: 65vw;
    position: absolute;
    font-family: "Bangers", system-ui;
}

#equip {
    color: white;
}

nav ul li {
    list-style-type: none;
    padding: 0%;
}

.maintxt{
    text-align: center;
}
/* Media Queries for Phone Screens */
@media (max-width: 480px) {
    header {
        padding: 5px 0;
        position: absolute;
        background-color: dodgerblue;
        z-index: -1;
        text-align:center;
        height:8vh;
    }

    h1 {
        font-size: 2vh;
        position: absolute;
        left: 12vh;
    }

    #logo {
        width: 25vw;
        height: 8vh;
        z-index:2;
    }

    #main {
        height: 30vh;
        width: 90vw;
        left: 5vw;
    }

    .about {
        font-size: 0.5vh;
        left: 32vh;
        top: 2vh;
        transform: translateX(-50%);
    }
    .equipment {
        font-size: 2vh;
        left: 40vh;
        top: 0vh;
        transform: translateX(-50%);
    } 

    footer {
        font-size: 2vh;
    }

    .maintxt {
        font-size: 3vh;
        top:10vh;
        font-size:30vh;
        width: 40vh;
        position: absolute;
        left:-3vh;
    }
}